@charset "utf-8";
h1,h2{color:#ccc; clear:both}
#content{width:390px; }
#content h1{ margin-bottom:10px;  font-family:"微软雅黑"; font-weight:100}
#scroll {width:330px;height:86px;overflow:hidden;position:relative;z-index:2; float:left;}
#scroll li{float:left}
/*块2样式*/
.mqdemoa {width:3960px!important;width:1980px;list-style:none;margin:0;padding:0;overflow:hidden;}
/*块2子元素样式*/
.mqdemoa li {width:230px;float:left; text-align:center}
.mqdemoa li a{color:#fff; text-decoration:none; line-height:22px; font-size:12px;}
/*内容样式*/
.mqdemoa li p {margin:0;}
.mqdemoa li p img {width:230px;height:160px;}
.mqdemoa li h3 {margin:0;font:12px/27px "宋体";text-align:center;}
/*scroll对象部分样式结束*/

/*其他样式，与scroll对象无关联*/
.pre{width:10px; height:20px; margin:20px 10px 0 0; background:url(prenext.gif) no-repeat 0 100%; cursor:pointer; float:left}
.next{width:10px; height:20px; margin:20px 0 0 10px; background:url(prenext.gif) no-repeat 100% 100%; cursor:pointer; float:left}

