		<DIV class=spaceborder style="CLEAR: both">
		<TABLE style="TABLE-LAYOUT: fixed" cellSpacing=1 cellPadding=1 width="100%" align=center>
		<TBODY>
		<TR>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/unknown.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/01.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/02.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/03.gif"></TD>
		</TR>
		<TR>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="" name=systemavatar><STRONG>None</STRONG></TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio CHECKED value="sample/01.gif" name=systemavatar>01.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/02.gif" name=systemavatar>02.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/03.gif" name=systemavatar>03.gif</TD>
		</TR>					
		<TR>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/04.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/05.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/06.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/07.gif"></TD>
		</TR>
		<TR>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/04.gif" name=systemavatar>04.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/05.gif" name=systemavatar>05.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/06.gif" name=systemavatar>06.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/07.gif" name=systemavatar>07.gif</TD>
		</TR>					
		<TR>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/08.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/09.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/10.gif"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/11.gif"></TD>
		</TR>
		<TR>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/08.gif" name=systemavatar>08.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/09.gif" name=systemavatar>09.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/10.gif" name=systemavatar>10.gif</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/11.gif" name=systemavatar>11.gif</TD>
		</TR>					
		<TR>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/12.jpg"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/13.jpg"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/14.jpg"></TD>
			<TD style="BORDER-BOTTOM: medium none" align=middle width="25%">
				<IMG src="../upload/avatar/sample/15.jpg"></TD>
		</TR>
		<TR>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/12.jpg" name=systemavatar>12.jpg</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/13.jpg" name=systemavatar>13.jpg</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/14.jpg" name=systemavatar>14.jpg</TD>
			<TD align=middle width="25%">
				<INPUT onclick="selectavatar(this.value);" 
					type=radio value="sample/15.jpg" name=systemavatar>15.jpg</TD>
		</TR>					
	</TBODY></TABLE></DIV>