<DIV class=popmenu_popup id=htmleditor_popup_forecolor_menu style="DISPLAY: none">
<TABLE style="WIDTH: auto" cellSpacing=0 cellPadding=0 border=0 unselectable="on">
<TBODY>
	<TR>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Black');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: black" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Sienna');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: sienna" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DarkOliveGreen');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: darkolivegreen" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DarkGreen');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: darkgreen" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DarkSlateBlue');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: darkslateblue" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Navy');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: navy" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Indigo');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: indigo" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DarkSlateGray');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: darkslategray" unselectable="on"></DIV></TD></TR>
	<TR>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DarkRed');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: darkred" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DarkOrange');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: darkorange" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Olive');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: olive" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Green');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: green" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Teal');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: teal" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Blue');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: blue" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'SlateGray');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: slategray" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DimGray');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: dimgray" unselectable="on"></DIV></TD></TR>
	<TR>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Red');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: red" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'SandyBrown');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: sandybrown" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'YellowGreen');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: yellowgreen" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'SeaGreen');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: seagreen" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'MediumTurquoise');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: mediumturquoise" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'RoyalBlue');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: royalblue" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Purple');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: purple" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Gray');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: gray" unselectable="on"></DIV></TD></TR>
	<TR>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Magenta');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: magenta" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Orange');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: orange" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Yellow');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: yellow" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Lime');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: lime" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Cyan');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: cyan" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DeepSkyBlue');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: deepskyblue" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'DarkOrchid');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: darkorchid" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Silver');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: silver" unselectable="on"></DIV></TD></TR>
	<TR>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Pink');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: pink" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Wheat');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: wheat" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'LemonChiffon');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: lemonchiffon" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'PaleGreen');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: palegreen" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'PaleTurquoise');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: paleturquoise" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'LightBlue');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: lightblue" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'Plum');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: plum" unselectable="on"></DIV></TD>
        <TD class=color_normal 
            onmouseover="chooseColor(this, 'mouseover')" onclick="ejfcode('forecolor', 'White');hideMenu()" 
            onmouseout="chooseColor(this, 'mouseout')" unselectable="on">
            <DIV style="BACKGROUND-COLOR: white" unselectable="on"></DIV></TD></TR>
</TBODY></TABLE></DIV>