<DIV class="popmenu_popup fontname_menu" id=htmleditor_popup_fontname_menu style="DISPLAY: none">
<UL unselectable="on">
	<LI style="FONT-FAMILY: 仿宋_GB2312" 
		onclick="ejfcode('fontname', '仿宋_GB2312');hideMenu()" unselectable="on">仿宋_GB2312 </LI>
    <LI style="FONT-FAMILY: 黑体" 
        onclick="ejfcode('fontname', '黑体');hideMenu()" unselectable="on">黑体 </LI>
    <LI style="FONT-FAMILY: 楷体_GB2312" 
        onclick="ejfcode('fontname', '楷体_GB2312');hideMenu()" unselectable="on">楷体_GB2312 </LI>
    <LI style="FONT-FAMILY: 宋体" 
        onclick="ejfcode('fontname', '宋体');hideMenu()" unselectable="on">宋体 </LI>
    <LI style="FONT-FAMILY: 新宋体" 
        onclick="ejfcode('fontname', '新宋体');hideMenu()" unselectable="on">新宋体 </LI>
    <LI style="FONT-FAMILY: 微软雅黑" 
        onclick="ejfcode('fontname', '微软雅黑');hideMenu()" unselectable="on">微软雅黑 </LI>
    <LI style="FONT-FAMILY: Trebuchet MS" 
        onclick="ejfcode('fontname', 'Trebuchet MS');hideMenu()" unselectable="on">Trebuchet MS </LI>
    <LI style="FONT-FAMILY: Tahoma" 
        onclick="ejfcode('fontname', 'Tahoma');hideMenu()" unselectable="on">Tahoma </LI>
    <LI style="FONT-FAMILY: Arial" 
        onclick="ejfcode('fontname', 'Arial');hideMenu()" unselectable="on">Arial </LI>
    <LI style="FONT-FAMILY: Impact" 
        onclick="ejfcode('fontname', 'Impact');hideMenu()" unselectable="on">Impact </LI>
    <LI style="FONT-FAMILY: Verdana" 
        onclick="ejfcode('fontname', 'Verdana');hideMenu()" unselectable="on">Verdana </LI>
    <LI style="FONT-FAMILY: Times New Roman" 
        onclick="ejfcode('fontname', 'Times New Roman');hideMenu()" unselectable="on">Times New Roman </LI>
</UL></DIV>
<DIV class="popmenu_popup fontsize_menu" id=htmleditor_popup_fontsize_menu style="DISPLAY: none">
<UL unselectable="on">
		<LI onclick="ejfcode('fontsize', 1);hideMenu()" unselectable="on"><FONT size=1 unselectable="on">1</FONT></LI> 
        <LI onclick="ejfcode('fontsize', 2);hideMenu()" unselectable="on"><FONT size=2 unselectable="on">2</FONT></LI> 
        <LI onclick="ejfcode('fontsize', 3);hideMenu()" unselectable="on"><FONT size=3 unselectable="on">3</FONT></LI> 
        <LI onclick="ejfcode('fontsize', 4);hideMenu()" unselectable="on"><FONT size=4 unselectable="on">4</FONT></LI> 
        <LI onclick="ejfcode('fontsize', 5);hideMenu()" unselectable="on"><FONT size=5 unselectable="on">5</FONT></LI> 
        <LI onclick="ejfcode('fontsize', 6);hideMenu()" unselectable="on"><FONT size=6 unselectable="on">6</FONT></LI> 
        <LI onclick="ejfcode('fontsize', 7);hideMenu()" unselectable="on"><FONT size=7 unselectable="on">7</FONT></LI>
</UL></DIV>